Options -Indexes
<IfModule mod_headers.c>
    RequestHeader unset Proxy
</IfModule>
<IfModule mod_rewrite.c>

	RewriteEngine On
    RewriteBase /laracast-path/Day7/
    RewriteRule ^(.*)$ public/index.php [QSA,L]

</IfModule>